* {
    padding: 0;
    margin: 0;
    font-family: Caveat, sans-serif;
}

html {
    min-height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(12, 1fr);
    background-image: url(src/bg-cells.jpg);
    background-size: cover;
    /* background-repeat: repeat; */
}

.bg_img {
    /* width: 100%; */
    /* height: 100vh; */
    object-fit: fill;
    grid-area: 1 / 1 / -1 / 13;
    z-index: -1;
}

.hangman_div {
    grid-area: 2 / 2 / 7 / 5;
}

.hangman_pic {
width: 100%;
}

#test_button {
    grid-area: 3 / 6 / 5 / 8;
}

.alphabet {
    grid-area: 3 / 8 / -3 / 12;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    min-width: 500px;
}

.letter {
    width: 15%;
    height: 15%;
    font-family: Caveat, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.missing_word {
    grid-area: -2 / 2 / -4 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

.missing_letter {
    text-align: center;
    height: 100%;
    width: 15%;
    font-size: 4em;
    position: relative;
    color: black;
}

.missing_letter::after {
    content: url(src/hangman_pics/letter_base.png);
    position: absolute;
    top: 20%;
    right: 5%;
}

.wrong_letter {
    color: red;
}

.right_letter {
    color:#001fff;
}